
@{
    ViewBag.Title = "Centros de Costo";
    ViewBag.Section = "Configuración";
    Layout = "~/Views/_Layout.cshtml";
}
@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
}

@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    
    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    <script>
        function delete_action(id, start, end, current, type, digital) {
            $("#txtModalTitle").text("Eliminar serie");
            $("#btnConfirm").show();
            $("#btnConfirm").attr("action", "3");
            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            slcDocumentType.attr("disabled", true);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", true);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            txtSerie.val(id);
            txtSerie.attr('readonly', true);
            txtStart.val(start);
            txtStart.attr('readonly', true);
            txtFinal.val(end);
            txtFinal.attr('readonly', true);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', true);
        }

        function detail(codigo, fecini) {
            $("#txtModalTitle").text("Detalle Centros de Costo");
            $("#btnConfirm").hide();
            $(".input-hidden").attr("disabled", true);

            $.ajax({
                method: "GET",
                url: "/Finantial/Settings/viewCco",
                data: {
                    code: codigo,
                    date: fecini
                }
            })
                .done(function (result) {
                    console.log(result);
                    var jsonResult = jQuery.parseJSON(result);
                    $("#txtCode").val(jsonResult[0].code);
                    $("#txtCode").val(jsonResult[0].codeDim);
                    $("#txtCode").val(jsonResult[0].description);
                    $("#txtCode").val(jsonResult[0].dateB);
                    $("#txtCode").val(jsonResult[0].dateE);
                    $("#txtCode").val(jsonResult[0].accountC);
                    $("#txtCode").val(jsonResult[0].accountT);
                    $("#txtCode").val(jsonResult[0].codeCat);

                    if (jsonResult[0].flgDet == "true")
                        $("#checkboxDet").prop("checked", true);
                    else
                        $("#checkboxDet").prop("checked", false);

                    if (jsonResult[0].flgPresup == "true")
                        $("#checkboxPresup").prop("checked", true);
                    else
                        $("#checkboxPresup").prop("checked", false);

                    if (jsonResult[0].flgIng == "true")
                        $("#checkboxCenIng").prop("checked", true);
                    else
                        $("#checkboxCenIng").prop("checked", false);

                    toastr.success(result, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                }).fail(function (result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });



            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            var txtPrefix = $("#txtPrefix");
            slcDocumentType.attr("disabled", true);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", true);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            txtSerie.val(id);
            txtSerie.attr('readonly', true);
            txtStart.val(start);
            txtStart.attr('readonly', true);
            txtFinal.val(end);
            txtFinal.attr('readonly', true);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', true);
            txtPrefix.val(prefix);
            txtPrefix.attr('readonly', true);
        }

        function update(id, start, end, current, type, digital, prefix) {
            $("#txtModalTitle").text("Actualizar Centros de Costo");
            $("#btnConfirm").show();
            $("#btnConfirm").attr("action", "2");
            $(".input-hidden").attr("disabled", false);
            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            var txtPrefix = $("#txtPrefix");
            slcDocumentType.attr("disabled", false);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", false);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            $("#txtInvoiceTypeOld").val(slcInvoiceType.val());
            txtSerie.val(id);
            txtSerie.attr('readonly', false);
            txtStart.val(start);
            txtStart.attr('readonly', false);
            txtFinal.val(end);
            txtFinal.attr('readonly', false);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', false);
            txtPrefix.val(prefix);
            if (digital == "true") {
                var serieNum = txtSerie.val();
                $("#txtSerieOld").val(serieNum.substring(1,4));
            } else {
                $("#txtSerieOld").val(txtSerie.val());
            }

            if(prefix == '--')
                txtPrefix.attr('readonly', true);
        }


    </script>
}

@section section_script {

    $('#data_1 .input-group.date').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    var tblCenters = $("#tblCenters").DataTable({
        //searching: false,
        dom: 'Bfrtip',
        buttons: [{
            text: 'Agregar',
            action: function(e, dt, node, config) {
                $("#txtModalTitle").text("Insertar Centro de Costo");
                $("#btnConfirm").attr("action", "1");
                $("#btnConfirm").show();
                $(".input-hidden").attr("disabled", false);
                var txtSerie = $("#txtSerie");
                var txtStart = $("#txtStart");
                var txtFinal = $("#txtFinal");
                var txtCurrent = $("#txtCurrent");
                var slcDocumentType = $("#chkDocumentType");
                var slcInvoiceType = $("#chkInvoiceType");
                slcDocumentType.attr("disabled", false);
                slcDocumentType.val("true");
                slcDocumentType.trigger("chosen:updated");
                slcInvoiceType.attr("disabled", false);
                $("#chkInvoiceType option:first-child").attr("selected", "selected");
                slcInvoiceType.trigger("chosen:updated");
                txtSerie.val('');
                txtSerie.attr('readonly', false);
                txtStart.val('');
                txtStart.attr('readonly', false);
                txtFinal.val('');
                txtFinal.attr('readonly', false);
                txtCurrent.val('');
                txtCurrent.attr('readonly', false);
            }
        }],
        columns: [{
                data: "codigo",
                width: "5%"

            },
            {
                data: "dimension",
                width: "18%"
            },
            {
                data: "descripcion",
                width: "15%"
            },
            {
                data: "fecini",
                width: "15%"
            },
            {
                data: "fecfin",
                width: "15%"
            },
            {
                orderable: false,
                className: "text-center",
                render: function(data, type, full, meta) {
                    var costCenterId = '"' + full.codigo + '",' +  '"' + full.fecini + '"';
                    var buttonSearch = "<button type='button' class='btn btn-outline btn-primary' onclick='detail(" + costCenterId + ");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-eye' aria-hidden='true'></i></button>&nbsp;";
                    var buttonEdit = "<button type='button' class='btn btn-outline btn-success' onclick='update(" + costCenterId + ");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-pencil' aria-hidden='true'></i></button>&nbsp;";
                    var buttonDelete = "<button type='button' class='btn btn-outline btn-danger' onclick='delete_action(" + costCenterId + ");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-trash' aria-hidden='true'></i></button>";
                    return buttonSearch + buttonEdit + buttonDelete;
                },
                width: "15%"
            }
        ]
    });

    $.ajax({
            method: "GET",
            url: "/Finantial/Settings/GetCcos",
            async: false
        })
        .done(function(result) {
            var objResult = jQuery.parseJSON(result);
            tblCenters.clear().rows.add(objResult).draw();
        }).fail(function(result) {
            toastr.error(result.statusText, "Mensaje", {
                positionClass: "toast-top-full-width"
            });
        });

    $(".dt-button").removeClass("dt-button").addClass("btn btn-w-m btn-default").attr("data-toggle", "modal").attr("data-target", "#mdlInsert");
            
    //MODAL

    $("#txtDimension").chosen({
        width: "100%",
        disable_search: true
    });

    initialize_combo_ajax("#txtDimension", "/Finantial/Settings/getDimensions");

    $.ajax({
        method: "GET",
        url: "/Finantial/Settings/getAccountsC"
      })
      .done(function(result) {
        var jsonResult = jQuery.parseJSON(result);
        if (!jQuery.isEmptyObject(jsonResult)) {
          $('txtCtaContable').typeahead({
            source: jsonResult
          });
        }
      })
      .fail(function(result) {
        toastr.error(result.statusText, "Mensaje", {
          positionClass: "toast-top-full-width"
        });
      });

    $.ajax({
        method: "GET",
        url: "/Finantial/Settings/getAccountsT"
      })
      .done(function(result) {
        var jsonResult = jQuery.parseJSON(result);
        if (!jQuery.isEmptyObject(jsonResult)) {
          $('txtCtaContableTransf').typeahead({
            source: jsonResult
          });
        }
      })
      .fail(function(result) {
        toastr.error(result.statusText, "Mensaje", {
          positionClass: "toast-top-full-width"
        });
      });

    $.ajax({
        method: "GET",
        url: "/Finantial/Settings/getCategories"
      })
      .done(function(result) {
        var jsonResult = jQuery.parseJSON(result);
        if (!jQuery.isEmptyObject(jsonResult)) {
          $('txtCategoria').typeahead({
            source: jsonResult
          });
        }
      })
      .fail(function(result) {
        toastr.error(result.statusText, "Mensaje", {
          positionClass: "toast-top-full-width"
        });
      });

    //FIN MODAL

    $.ajax({
            method: "GET",
            url: "/Finantial/Settings/DocumentTypes"
        })
        .done(function(result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkInvoiceType");
            $.each(objResult, function(index, value) {
                documentType.append("<option value='" + value.Value + "'>" + value.Content + "</option>");
            });
            documentType.trigger("chosen:updated");
        }).fail(function(result) {
            toastr.error(result.statusText, "Mensaje", {
                positionClass: "toast-top-full-width"
            });
        });

    $("#btnConfirm").on("click", function() {
        var value = $(this).attr("action");
        if (value == "1") {
            $.ajax({
                    method: "POST",
                    url: "/Finantial/Settings/AddInvoice",
                    data: {
                        code: $("#txtCode").val(),
                        codeDim: $("#txtDimension").val(),
                        description: $("#txtDescription").val(),
                        dateB: $("#txtStartDate").val(),
                        dateE: $("#txtEndDate").val(),
                        accountC: $("#txtCtaContable").val(),
                        accountT: $("#txtCtaContableTransf").val(),
                        codeCat: $("#txtCategoria").val(),
                        flgDet: $('#checkboxDet').is(":checked"),
                        flgPresup: $('#checkboxPresup').is(":checked"),
                        flgIng: $('#checkboxCenIng').is(":checked")
                    }
                })
                .done(function(result) {
                    console.log(result);
                    toastr.success(result, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                }).fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });
        } else {
            if (value == "2") {

                $.ajax({
                        method: "POST",
                        url: "/Finantial/Settings/UpdateInvoice",
                        data: {
                          code: $("#txtCode").val(),
                          codeDim: $("#txtDimension").val(),
                          description: $("#txtDescription").val(),
                          dateB: $("#txtStartDate").val(),
                          dateE: $("#txtEndDate").val(),
                          accountC: $("#txtCtaContable").val(),
                          accountT: $("#txtCtaContableTransf").val(),
                          codeCat: $("#txtCategoria").val(),
                          flgDet: $('#checkboxDet').is(":checked"),
                          flgPresup: $('#checkboxPresup').is(":checked"),
                          flgIng: $('#checkboxCenIng').is(":checked")
                        }
                    })
                    .done(function(result) {
                        console.log(result);
                        toastr.success(result, "Mensaje", {
                            positionClass: "toast-top-full-width"
                        });
                    }).fail(function(result) {
                        toastr.error(result.statusText, "Mensaje", {
                            positionClass: "toast-top-full-width"
                        });
                    });
            } else
            if (value == "3") alert("eliminar");
        }
    });

    //Function que por request AJAX llena un comboBox
    function initialize_combo_ajax(idSelect, url, async = true) {
    $.ajax({
    method: "GET",
    url: url,
    async: async
    })
    .done(function(result) {
    var jsonResult = jQuery.parseJSON(result);
    if (!jQuery.isEmptyObject(jsonResult)) {
    populate_combo_box(idSelect, jsonResult);
    }
    })
    .fail(function(result) {
    toastr.error(result.statusText, "Mensaje", {
    positionClass: "toast-top-full-width"
    });
    });
    }

    //Function que llena un comboBox
    function populate_combo_box(idCombo, data) {
    combo_box = $(idCombo);
    combo_box.empty();
    combo_box.trigger("chosen:updated");
    $.each(data, function(index, value) {
    combo_box.append("<option value='" + value.Value + "'>" + value.name + "</option>");
    });
    combo_box.trigger("chosen:updated");
    }

    //Function que hace update a un chosen select
    function update_chosen_select(chosenId, value) {
    var chosenElement = $(chosenId);
    //chosenElement.attr("disabled", true);
    chosenElement.val(value);
    chosenElement.trigger("chosen:updated");
    }
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="tblCenters" class="table table-striped table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Dimensión</th>
                                <th>Descripción</th>
                                <th>Fecha Inicial</th>
                                <th>Fecha Final</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mdlInsert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="txtModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Código</label>
                            <div class="col-md-12">
                                <input id="txtCode" type="text" class="form-control input-hidden" placeholder="Código" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Dimensión</label>
                            <div class="col-md-12">
                                <input id="txtDimension" type="text" class="form-control input-hidden" placeholder="Dimensión" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Descripción</label>
                            <div class="col-md-12">
                                <input id="txtDescription" type="text" class="form-control input-hidden" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div id="data_1" class="">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <label class="pull-left form-separation"> Fecha Inicial </label>
                                </div>
                                <div class="input-group date" style="padding-left: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="txtStartDate" type="text" class="form-control currentDateDefault" name="documentDate" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="data_1" class="">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <label class="pull-left form-separation"> Fecha Final </label>
                                </div>
                                <div class="input-group date" style="padding-left: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="txtEndDate" type="text" class="form-control currentDateDefault" name="documentDate" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Cta. Contable</label>
                            <div class="col-md-12">
                                <input id="txtCtaContable" type="text" class="form-control input-hidden" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Cta. Contable Transf.</label>
                            <div class="col-md-12">
                                <input id="txtCtaContableTransf" type="text" class="form-control input-hidden" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Categoría</label>
                            <div class="col-md-12">
                                <input id="txtCategoria" type="text" class="form-control input-hidden" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-primary">
                                <input id="checkboxDet" type="checkbox" checked="">
                                <label for="checkboxDet">
                                    Det?
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-primary">
                                <input id="checkboxPresup" type="checkbox" checked="">
                                <label for="checkboxPresup">
                                    Inc Presup?
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-primary">
                                <input id="checkboxCenIng" type="checkbox" checked="">
                                <label for="checkboxCenIng">
                                    Cen Ing?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>
